name = "wow-mvp"
main = ".open-next/worker.js"
compatibility_date = "2026-02-22"
compatibility_flags = ["nodejs_compat"]
workers_dev = true

[assets]
binding = "ASSETS"
directory = ".open-next/assets"
