@import "_vars.scss";

.AddressSearch form {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: end;
}

@media screen and (max-width: 480px) {
  .AddressSearch form {
    padding-left: 0;
    padding-right: 0;
  }
}

.AddressSearch form .form-group {
  margin-right: 10px;
  margin-bottom: 0;
}

.AddressSearch form .form-group .btn {
  margin-top: 32px;
}

.AddressSearch .AddressSearch__inputGroup {
  flex: 1 1 22rem;
  min-width: 0;
}

.AddressSearch .AddressSearch__submitButton {
  margin-top: 1.5rem;
  white-space: nowrap;
}

@media screen and (max-width: 480px) {
  .AddressSearch .AddressSearch__submitButton {
    width: 100%;
  }
}

.AddressSearch {
  .geosuggest {
    position: relative;
    margin-bottom: 15px;
    // max-width: 600px;
    // margin: 0 auto;

    .geosuggest__suggests-wrapper {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      z-index: 20;
      background-color: #fff;

      .geosuggest__suggests {
        &:not(.geosuggest__suggests--hidden) {
          border: 1px solid $gray;
          border-top: none;
        }
      }

      ul {
        margin: 0;
        padding-left: 0;

        .geosuggest__item {
          margin-top: 0;
          padding: 0.47rem 0.63rem;
          list-style-type: none;

          &:hover {
            background-color: $secondary-color;
            cursor: pointer;
          }

          &.geosuggest__item--active {
            background-color: $primary-color;
            color: #fff;

            &:hover {
              background-color: $primary-color;
            }
          }
        }
      }
    }
  }
}
