@import "_vars.scss";

.PropertiesSummary {
  padding: 0.75rem 0.94rem;
  border-bottom: 1px solid $gray-dark;
  background: $justfix-white;

  .PropertiesSummary__grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0.63rem;
  }

  .PropertiesSummary__card {
    background: #fff;
    border: 1px solid $gray-light;
    padding: 0.63rem;

    h3 {
      font-size: 0.75rem;
      margin: 0 0 0.31rem 0;
      text-transform: uppercase;
      letter-spacing: 0.03em;
    }

    p {
      margin: 0;
      font-size: 1.25rem;
      line-height: 1.1;
      font-weight: 700;

      + p {
        margin-top: 0.31rem;
      }
    }
  }
}
